/* common styles section starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color: #469165;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 7px;
}
.btn:hover{
    background-color: yellow;
    color: black;
}
header{
    padding-top: 16px;
    padding-left: 120px;
    padding-right: 120px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}
nav .menu ul{
    display: flex;
    justify-content: baseline;
    list-style: none;
    gap: 24px;
}
nav .menu ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
}
nav .menu ul a:hover{
    background-color: #469165;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 5px;
}
#banner{
    background-image: url(./image/hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    padding-top: 16px;
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
}
#banner #first-btn{
    background-color: #ffffff;
    color: #30B868;
    font-size: 16px;
    border-radius: 20px;
    padding: 0 10px;
}
#banner #first-btn:hover{
    background-color: yellow;
    color: #000000;
}
#banner h1{
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
}
#banner h1 span{
    color: #30B868;
}
#banner p{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 32px;
}
#banner .btn image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}
#notes{
    justify-content: center;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
}
#notes h1{
    font-size: 48px;
    color: #001931;
}
#notes p{
    padding-top: 16px;
    padding-bottom: 44px;
}
#notes .card-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
}
#notes .card-container .card{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 2px 5px 5px gray;
    padding: 24px;
    padding-bottom: 0;
}

#notes .card-container .card img{
    background-color: #F95555;
    padding: 5px;
    border-radius: 50%;
    
}
#notes .card-container .card h3{
    padding-top: 16px;
    padding-bottom: 16px;
}